.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  padding-left: 64px;
  font-weight: bold;
  color: black;
  margin-block: 0;    /* обнуление user agent stylesheet*/
  z-index: 3;
}
